{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>¿Olvidase tu contraseña?</h1>
  <p>Ingrese su dirección de correo electrónico a continuación y le enviaremos instrucciones  para configurar una nueva</p>

  <form method="POST">
    {% csrf_token %}
    {{ form| crispy }}
    <input class="btn btn-primary" type="submit" value="Enviar Instrucciones">
  </form>
  <a href="{% url 'login' %}" class="btn btn-success">Regresar</a>
{% endblock %}