{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}
{% load static %}
<style>
		.brand_logo_container {
			position: relative;
			height: 170px;
			width: 170px; Ev72U2PaN8jH4dX
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
</style>

<div class="user_card align-self-center">
  <div class="d-flex justify-content-center">
    <div class="brand_logo_container">
      <img
        src="{% static 'admin/fiesta500.png' %}" 
        class="brand_logo"
        alt="Logo"
      />
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <h2>Registrate</h2>
  </div>
  <div class="d-flex justify-content-center form_container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %} 
        <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-file"></i></span>
        </div>
        {{ form.username }}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{ form.password }}
      </div>
        <div class="d-flex justify-content-center mt-3 login_container">
     <button type="submit" name="button" class="btn login_btn">Login</button>
     </div>

    </form>
  </div>

  <div class="mt-4">
    <div class="d-flex justify-content-center links">
      ¿No tienes cuenta? <a href="change-password/" class="ml-2">Registrate</a>
    </div>
    <div class="d-flex justify-content-center links">
      <a href="#">¿no recuerdas tu contraseña?</a>
    </div>
  </div>
</div>
{% endblock %}
{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}
{% load static %}
<style>
		.brand_logo_container {
			position: relative;
			height: 170px;
			width: 170px; Ev72U2PaN8jH4dX
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
</style>

<div class="user_card align-self-center">
  <div class="d-flex justify-content-center">
    <div class="brand_logo_container">
      <img
        src="{% static 'admin/fiesta500.png' %}" 
        class="brand_logo"
        alt="Logo"
      />
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <h2>Ingresar</h2>
  </div>
  <div class="d-flex justify-content-center form_container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %} 
        <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-file"></i></span>
        </div>
        {{ form.username }}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{ form.password }}
      </div>
        <div class="d-flex justify-content-center mt-3 login_container">
     <button type="submit" name="button" class="btn login_btn">Login</button>
     </div>

    </form>
  </div>

  <div class="mt-4">
    <div class="d-flex justify-content-center links">
      ¿No tienes cuenta? <a href="change-password/" class="ml-2">Registrate</a>
    </div>
    <div class="d-flex justify-content-center links">
      <a href="#">¿no recuerdas tu contraseña?</a>
    </div>
  </div>
</div>
{% endblock %}
