{% autoescape off %}
{% load comprueba_tipo %}
{% load colores_del_sitio %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Correo Cumpleaños</title>
</head>

<body>

    <div class="container">
        <div class="mx-auto"><img src="{% get_imagen 'agencia' %}" height="180px" /></div>
        <p class="h6">Estimado: {{ cliente|upper }}</p>

        <p>Para nosotros, no eres solo un cliente. Eres un amigo por el que nos preocupamos mucho.
            Que este año se llene de éxito y prosperidad.</p>

        <img src="{% get_imagen 'happy' %}" class="img-fluid"  />
        <p>G&A Agente de Seguros </p>
        <div>
            <p>{{ asesor }}</p>
            <p>{{ asesor.usuario.email }}</p>
            <p>Teléfono oficina: {{ telefonos }} </p>
        </div>
        <p class="bg-dark text-white break-word p-2">La información contenida en este mensaje de correo electrónico (y sus anexos) es confidencial, restringida y
            puede contener información propiedad de G&A Agente de Seguros, además está destinada únicamente para el uso
            de la o las personas a que está dirigido, por lo que se le notifica que está estrictamente prohibida
            cualquier difusión, distribución o copia del mismo. Si ha recibido este mensaje de correo electrónico por
            error, debe destruirlo y notificar al remitente por esta misma vía. No deberá utilizar, revelar, distribuir,
            imprimir o copiar este mensaje ni ninguna de sus partes si usted no es el destinatario. Aviso de Privacidad:
            https://gyaseguros.mx/politica-privacidad/ </p>

    </div>
</body>

</html>
{% endautoescape %}