{% autoescape off %}
{% load comprueba_tipo %}
{% load colores_del_sitio %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Correo Cumpleaños</title>
</head>

{% include 'email_templates/estilo.html' %}

<body>

    <div class="container">
        <div class="mx-auto text-center"><img src="{% get_imagen_base64 'agencia' %}" height="180px" /></div>
        <div class="mx-auto text-center"><img src="{% get_imagen_base64 'happy' %}" height="180px" /></div>
        <br>
        <p class="h6">Estimado: {{ cliente }}</p>

        <p>En este día tan especial, queremos desearle un muy feliz cumpleaños. Que su día esté lleno de alegría,
            felicidad y momentos inolvidables junto a sus seres queridos.</p>

        <p>Es un honor para nosotros contar con su confianza y le agradecemos por ser parte de nuestra familia de
            asegurados.</p>

        <p>¡Que tenga un excelente año por delante!</p>
        <p>Con nuestros mejores deseos,</p>

        <p>{{ asesor }}</p>
        <p>Teléfono: {{ telefonos }}</p>

        <p class="bg-dark text-white break-word p-2">La información contenida en este mensaje de correo electrónico (y
            sus anexos) es confidencial, restringida y puede contener información propiedad de Grupo
            Bilanci y Asesores, además está destinada únicamente para el uso de la o las personas a que está dirigido,
            por lo que se le notifica que está estrictamente
            prohibida cualquier difusión, distribución o copia del mismo. Si ha recibido este mensaje de correo
            electrónico por error, debe destruirlo y notificar al remitente
            por esta misma vía. No deberá utilizar, revelar, distribuir, imprimir o copiar este mensaje ni ninguna de
            sus partes si usted no es el destinatario. Aviso de
            Privacidad: <a
                href="https://grupobilanci.com/aviso-de-privacidad">https://grupobilanci.com/aviso-de-privacidad</a></p>


    </div>
</body>

</html>
{% endautoescape %}