{% autoescape off %}
{% load comprueba_tipo %}
{% load colores_del_sitio %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">    
    <title>Correo Recordatorio</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.5; margin: 0; padding: 0; background-color: #f8f9fa;">
    
    <div style="max-width: 50%; margin: 20px auto; padding: 20px; background-color: #ffffff; border-radius: 8px;">
        <div style="text-align: center;">
            <img src="{{ imagen_url }}" alt="Logo" style="max-width: 100%; height: 180px;" />
        </div>

        <hr style="border: 0; border-top: 1px solid #dee2e6; margin: 20px 0;">

        <p style="font-size: 16px; margin-bottom: 10px;">Estimado/a: {{ cliente }}</p>

        <p style="margin-bottom: 15px;">Esperamos que se encuentre bien</p>

        <p style="margin-bottom: 15px;">Le recordamos que su póliza de seguro <em>{{ poliza.plan}}</em>
            con número <em>{{ poliza.numero_poliza }}</em> 
            está próxima a vencer el <em>{{ poliza.fecha_vigencia }}</em>. Para garantizar la continuidad de su cobertura, le solicitamos realizar
            el pago correspondiente antes de esta fecha por un importe de {{ poliza.monto_pago|moneda_mexicana }}</p>

        <p style="margin-bottom: 15px;">Si tiene alguna pregunta o necesita asistencia, 
            no dude en contactarnos. Estamos aquí para ayudarle.</p>

        <p style="margin-bottom: 15px;">Muchas gracias por su atención y preferencia.</p>

        <p style="margin-bottom: 15px;">Saludos cordiales,</p>
        <p style="margin-bottom: 10px;">{{ asesor.asesor }}</p>
        <p style="margin-bottom: 10px;">{{ asesor.empresa }}</p>
        <p style="margin-bottom: 10px;">{{ asesor.correo_empleado }}</p>
        <p style="margin-bottom: 20px;">Teléfono: {{ asesor.telefono }}</p>
        <p style="margin-top: 10px; color: #191459; font-weight: bold;">Si usted ya realizo el pago, favor de hacer caso omiso de este correo</p>

        <p style="background-color: #343a40; color: #ffffff; padding: 10px; border-radius: 5px; word-wrap: break-word; font-size: 14px;">
            La información contenida en este mensaje de correo electrónico (y sus anexos) es confidencial, restringida y puede contener información propiedad de Grupo
            Bilanci y Asesores, además está destinada únicamente para el uso de la o las personas a que está dirigido, por lo que se le notifica que está estrictamente
            prohibida cualquier difusión, distribución o copia del mismo. Si ha recibido este mensaje de correo electrónico por error, debe destruirlo y notificar al remitente
            por esta misma vía. No deberá utilizar, revelar, distribuir, imprimir o copiar este mensaje ni ninguna de sus partes si usted no es el destinatario. Aviso de
            Privacidad: <a href="https://grupobilanci.com/aviso-de-privacidad" style="color: #ffffff;">https://grupobilanci.com/aviso-de-privacidad</a>
        </p>

        
    </div>
</body>

</html>
{% endautoescape %}
