<!DOCTYPE html>
{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}


<h3 class="card-title">{{ titulo }}</h3>

<form action="" method="POST">
    <div class="accordion">

        <div class="accordion-item">
            <h2 class="accordion-header" id="cliente-heading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cliente-colapse" aria-expanded="true" aria-controls="cliente-colapse">
                Datos del Cliente
              </button>
            </h2>
            <div id="cliente-colapse" class="accordion-collapse collapse show" aria-labelledby="cliente-heading">
                <div class="accordion-body">
                    {% crispy form_persona_principal %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="poliza-heading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#poliza-colapse" aria-expanded="true" aria-controls="poliza-colapse">
                Datos del Poliza
              </button>
            </h2>
            <div id="poliza-colapse" class="accordion-collapse collapse" aria-labelledby="poliza-heading">
                <div class="accordion-body">
                    {% crispy form_poliza %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="bene-heading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bene-colapse" aria-expanded="true" aria-controls="bene-colapse">
                Beneficiarios
              </button>
            </h2>
            <div id="bene-colapse" class="accordion-collapse collapse" aria-labelledby="bene-heading">
                <div class="accordion-body">
                    {% crispy formset_beneficiario helper_beneficiario %}  
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="docs-heading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#docs-colapse" aria-expanded="true" aria-controls="docs-colapse">
                Documentos
              </button>
            </h2>
            <div id="bene-colapse" class="accordion-collapse collapse" aria-labelledby="docs-heading">
                <div class="accordion-body">
                    Aqui se pondran los documentos 
                </div>
            </div>
        </div>

    </div>
</form>

<script>
  function getCookie(name) {
   let cookieValue = null;
   if (document.cookie && document.cookie !== '') {
       const cookies = document.cookie.split(';');
       for (let i = 0; i < cookies.length; i++) {
           const cookie = cookies[i].trim();
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) === (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}   

const csrftoken = getCookie('csrftoken');

data = {
     csrfmiddlewaretoken: csrftoken
   }
  $(document).ready(function() {
      // Cuando cambia el select de asentamiento
      $('[name="asentamiento"]').change(function() {
          var asentamientoId = $(this).val();
          // Asegúrate de actualizar la URL a la ruta correcta de tu servidor
          var url = '{% url informacion 123 %}'.replace('123', asentamientoId);
  
          $.ajax({
              url: url,
              xhrFields: {
                withCredentials: true
              },
              data: data,
              success: function(data) {
                  // Actualiza los campos con los datos recibidos
                  $('[name="codigo_postal"]').val(data.codigo_postal);
                  $('[name="municipio"]').val(data.municipio);
                  $('[name="estado"]').val(data.estado);
              },
              error: function(xhr, status, error) {
                  console.error("Ocurrió un error: " + error);
              }
          });
      });
  });
  </script>

{% endblock %}
