<!DOCTYPE html>
{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row" style="margin-bottom: 1em; margin-top: 1em;">
    <h3 class="col-5">{{ titulo }} {{ cliente }}</h3>
    {% if es_asesor %}
      <a class="btn btn-secondary col-2" href="{% url add cliente.pk %}">{{ add_label }}</a>
    {% endif %}
    <a class="btn btn-secondary col-2" href="{% url 'documentos:clientes' %}">Regresar</a>
    <input class="form-control col-4 ml-auto" id="myInput" type="text" placeholder="Buscar..">
</div>

{% if filter %}
    <form action="" method="get" class="form">
      <div class="row">
        {% for field in filter.form %}
          <div class="col-md-4">
            <div class="form-group">
              {% bootstrap_field field layout="horizontal" %}
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-12">
          {% bootstrap_button 'Buscar' button_type="submit" %}
        </div>
      </div>
    </form>
{% endif %}

{% render_table table %}


<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#CuerpoCatalogo tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
{% endblock %}
