{% load django_bootstrap5 %}
<form method="post" action="{% url redirige %}" class="align-items-center" id="elementForm">
{% for field in form %}
  <td>
    {% bootstrap_field field %}
  </td>
{% endfor %}
<td class="text-center">
  <button class="btn btn-primary" onclick="recargaTabla('save',{{ elemento.pk }})"><span class="fa fa-save"></span></button>
  {% if  elemento.id != None %}
  <button class="btn btn-secondary" onclick="recargaTabla('move',{{ lista.number }})"><span class="fa fa-times"></span></button>    
  {% endif %}
</td>
</form>
