{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

  <h3 class="card-title">{{ titulo }}</h3>
    <form action="" method="POST">
      {% csrf_token %}  {{ form }}
        <p>¿Confirmas la eliminacion de {{ object }}?</p>
        <div class="col text-center">        
          <input type="submit" name="submit" value="Borrar" class="btn btn-danger" id="submit-save">
          <a class="btn btn-primary" href="{{request.META.HTTP_REFERER|escape}}">Regresar</a>
        </div>
      </form>
      
{% endblock %}