<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        Seguros
      {% endblock %}
    </title>
    {# Load the tag library #}
    {% load colores_del_sitio %}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'colorfield/colorfield.js' %}"></script>
    <script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>
    {% include 'estilo.html' %}
  </head>
  <body>
    <div class="fixed-top d-flex align-items-center" style="background-color: {% get_color 'pleca' %};">      
      <a class="dropdown-item align-items-center" href="#" onclick="toggleSlidebar()" style=" font-size: 32px; width: 1em; background-color: {% get_color 'pleca' %};"><span class="fa-solid fa-bars" style="background-color: {% get_color 'pleca' %};"></span></a>      
      <a class="nav-brand" href="{% url 'home' %}"><img src="{% get_imagen 'logo' %}" height="80px" /></a>

      <div class="user-info">
        
        {% if user.is_authenticated %}
          <span class="text-white">Bienvenido, {% get_full_name user %}</span>           
        {% else %}
          <a class="btn btn-success enlace-inferior" href="{% url 'login' %}">Ingresar</a>
        {% endif %}
      </div>
    </div>

    <div class="content-wrapper" id="contenido">
      <div class="col-1 col-md-1 col-xl-2 px-sm-2 px-0 sidebar" id="slidebar" style="background-color: {% get_color 'menu' %};">
        {% if user.is_authenticated %}
          {% include 'menu_test.html' %}
        {% else %}   
        <div class="sidebar-content"></div>     
          <div class="sidebar-footer">
            
          </div>        
        {% endif %}
      </div>

      <div class="col p-4 main-content align-items-center" style="background-color: {% get_rgba 'fondo' 0.8 %};">
        {% bootstrap_messages %}
        {% block content %}

        {% endblock %}
      </div>

    </div>
    <script>
      // Desaparecer mensajes automáticamente después de 5 segundos
      setTimeout(function() {
          var alerts = document.querySelectorAll('.alert');
          alerts.forEach(function(alert) {
              alert.classList.remove('show');
              alert.classList.add('fade');
              setTimeout(function() {
                  alert.remove();
              }, 500); // Tiempo para el fade out
          });
      }, 5000); // 5000 milisegundos = 5 segundos
  </script>
  
  </body>
</html>
