
{% load colores_del_sitio %}

<style>
    body {
        position: relative;
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("{% get_imagen 'fondo' %}");
        background-repeat: repeat;
        opacity: 0.2; /* Ajusta este valor para cambiar la opacidad */
        z-index: -1;
    }      


    /* Estilo del Slidebar */
    .slidebar {
        height: 100%;
        width: 9em;
        position: fixed;
        left: -100%;
        left: 100%;
        background-color:  {% get_color 'menu' %};
        transition: 1.0s;
        padding-top: 80px;
    }
    
    .slidebar .enlace-inferior {       
        position: absolute; 
        bottom: 0; 
        width: 100%;
        margin-bottom:3em;
        align-items: center;
    }    
    
    /* Redondear imputs */
    .select{
      border-radius: 3rem;
      }
    .textinput   {
      border-radius: 3rem;
      }
    .input   {
      border-radius: 3rem;
      }
    .passwordinput {
        border-radius: 3rem;
    }
    .urlinput {
        border-radius: 3rem;
    }
    .emailinput {
        border-radius: 3rem;
    }

</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const slidebar = document.getElementById('slidebar');
        // Mostrar el menú cuando el mouse se mueva hacia el lado izquierdo de la pantalla
        document.addEventListener('mousemove', function (e) {
            if (e.clientX < 100) { // Ajusta este valor según sea necesario
                slidebar.style.left = '0';
            }
        });
        // Ocultar el menú cuando el mouse se mueva fuera del menú
        slidebar.addEventListener('mouseleave', function (e) {
            slidebar.style.left = '-100%'; // Asegúrate de que esto coincida con el ancho de tu slidebar
        });
    });
</script>
    

<div>{% get_color 'menu' %}</div>
