{% load colores_del_sitio %}

<ul class="navbar navbar-light">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="fas fa-book-medical"></span>
      Seguros
    </a>
    <ul class="dropdown-menu" style="margin-left: 20px;">
      {% if user.is_staff %}
        <a class="dropdown-item" href="{% url 'documentos:lista_tipo_conducto_pago' %}">Tipo Conducto Pago</a>
        <a class="dropdown-item" href="{% url 'documentos:lista_tipo_persona' %}">Tipo de Persona</a>
        <a class="dropdown-item" href="{% url 'documentos:lista_forma_pago' %}">Forma de Pago</a>
        <a class="dropdown-item" href="{% url 'documentos:lista_tipo_medio_conctacto' %}">Tipo Medio Contacto</a>
        <li class="dropdown-divider"></li>
        <a class="dropdown-item" href="{% url 'documentos:lista_documentos' %}">Documentos</a>
        <a class="dropdown-item" href="{% url 'documentos:lista_parentesco' %}">Parentesco</a>
        <a class="dropdown-item" href="{% url 'documentos:lista_empresa' %}">Empresa Contratante</a>
        <a class="dropdown-item" href="{% url 'documentos:lista_planes' %}">Planes</a>
        <li class="dropdown-divider"></li>
      {% endif %}
      <a class="dropdown-item" href="{% url 'documentos:principal_list' %}">Persona Principal</a>
      <a class="dropdown-item" href="{% url 'documentos:polizas' %}">Polizas</a>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="fas fa-user"></span>
      Usuarios
    </a>
    <ul class="dropdown-menu" style="margin-left: 20px;">
      <li>
        {% if user.is_staff %}
        <a class="dropdown-item" href="{% url 'documentos:asesor_list' %}">
          <span class="fas fa-key"></span>
          Asesor
        </a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'password_change' %}">
          <span class="fas fa-key"></span>
          Contraseña
        </a>
      </li>
    </ul>
  </li>

  {% if user.is_staff %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa-solid fa-gear"></span>
      Catalogos
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="{% url 'tema:list_color' %}">Colores</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'tema:list_imagen' %}">Imagenes</a>
      </li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa-solid fa-gear"></span>
      Sepomex
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="{% url 'sepomex:carga_sepomex' %}">Cargar Sepomex</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'sepomex:estado' %}">Estados</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'sepomex:municipio' %}">Municipios</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'sepomex:asentamiento' %}">Asentamientos</a>
      </li>
    </ul>
  </li>

  {% endif %}
</ul>
